<main class="list-jobs mt-3">
    <h2>Lista de Vacantes</h2>

    {{#if jobs.length}}
    <table class="table table-hover table-striped table-responsive mt-3">
        <thead>
            <tr class="table-dark">
                <th scope="col">Vacante</th>
                <th scope="col">Empresa</th>
                <th scope="col">Lugar de la vacante</th>
                <th scope="col">Salario</th>
                <th scope="col">Descripci칩n</th>                
            </tr>
        </thead>
        <tbody>
            {{#each jobs}}
            <tr class="table-active">
                <th scope="row">{{title}}</th>
                <td>{{company}}</td>
                <td>{{location}}</td>
                <td>{{salary}}</td>        
                <td><a href="/jobs/{{url}}">M치s Informaci칩n </a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Informaci칩n!</strong> No hay vacantes publicadas!!!
    </div>
    {{/if}}
</main>